C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\src\screens\AdminDashboard.js:2776 Uncaught ReferenceError: openReceiptModal is not defined
    at renderItem (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\src\screens\AdminDashboard.js:2776:55)
    at render (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-native-web\dist\vendor\react-native\FlatList\index.js:303:18)
    at renderProp (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-native-web\dist\vendor\react-native\FlatList\index.js:327:18)
    at CellRenderer._renderElement (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-native-web\dist\vendor\react-native\VirtualizedList\VirtualizedListCellRenderer.js:93:14)
    at CellRenderer.render (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-native-web\dist\vendor\react-native\VirtualizedList\VirtualizedListCellRenderer.js:114:24)
    at react-stack-bottom-frame (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-dom\cjs\react-dom-client.development.js:23876:29)
    at updateClassComponent (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-dom\cjs\react-dom-client.development.js:9454:23)
    at beginWork (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-dom\cjs\react-dom-client.development.js:10536:13)
    at runWithFiberInDEV (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-dom\cjs\react-dom-client.development.js:1519:30)
    at performUnitOfWork (C:\Users\AJ\Documents\GitHub\FlowerProject\react-native-app\node_modules\react-dom\cjs\react-dom-client.development.js:15132:22)